<h2 class="float-start mt-4" style="margin-right: 10px;">Usuários</h2>

<div class="clearfix"></div>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Data de Criação</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.strftime('%d/%m/%Y %H:%M:%S') %></td>
        <td>
          <%= link_to('<i class="bi bi-trash"></i>'.html_safe, user_path(user), class: 'btn btn-sm', data: { turbo_method: :delete, turbo_confirm: "Deseja excluir?" }) %>
          <%= link_to('<i class="bi bi-info-circle"></i>'.html_safe, user_path(user), class: 'btn btn-sm') %> <!-- Cor do botão detalhes -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="clearfix"></div>
