<h2 class="float-start mt-4" style="margin-right: 10px;">Endereços</h2>

<div class="float-end mt-4 me-3">
  <%= link_to(new_address_path, class: 'btn btn-custom') do %>
    <i class="bi bi-plus-lg"></i> Criar um novo endereço
  <% end %>
</div>

<div class="clearfix"></div>

<%= search_form_for(@query, url: addresses_path) do |form| %>
  <div class="row mb-3" style="margin-left: 10px;">
    <div class="col-md-6">
      <%= form.label :zip_code_cont, "CEP", class: "form-label" %>
      <%= form.text_field :zip_code_cont, placeholder: "Busque pelo CEP", class: "form-control" %>
    </div>
  </div>
  <div class="row mb-4" style="margin-left: 10px;">
    <div class="col-md-6">
      <%= link_to(url_for, class: 'btn btn-secondary me-2') do %>
        Limpar
      <% end %>
      <%= button_tag(class: 'btn btn-custom') do %>
        Buscar
      <% end %>
    </div>
  </div>
<% end %>

<table class="table table-striped table-hover table-bordered">
  <thead style="background-color: #7D5B8C; color: white;">
    <tr>
      <th style="background-color: #7D5B8C; color: white;">CEP</th>
      <th style="background-color: #7D5B8C; color: white;">Rua/Avenida</th>
      <th style="background-color: #7D5B8C; color: white;">Número</th>
      <th style="background-color: #7D5B8C; color: white;">Bairro</th>
      <th style="background-color: #7D5B8C; color: white;">Cidade</th>
      <th style="background-color: #7D5B8C; color: white;">Estado</th>
      <th style="background-color: #7D5B8C; color: white;">Complemento</th>
      <th style="background-color: #7D5B8C; color: white;">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
      <tr style="background-color: #7D5B8C; color: white;">
        <td><%= address.zip_code %></td>
        <td><%= address.street %></td>
        <td><%= address.number %></td>
        <td><%= address.neighborhood %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.complement %></td>
        <td>
          <%= link_to('<i class="bi bi-trash"></i>'.html_safe, address_path(address), class: 'btn btn-sm', data: { turbo_method: :delete, turbo_confirm: "Deseja excluir?" }) %>
          <%= link_to('<i class="bi bi-pencil"></i>'.html_safe, edit_address_path(address), class: 'btn btn-sm') %>
          <%= link_to('<i class="bi bi-info-circle"></i>'.html_safe, address_path(address), class: 'btn btn-sm') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="clearfix"></div>
